.quickAddHolder{
	width: 95%;
	border: 1px solid #ddd;
	background: #f9f9f9;
	padding: 10px;
	margin: 10px 0;
}
	.quickAddHolder .field.quickadd label.left{
		font-size: 14px;
		font-weight: bold;
		margin-left: 3px;
	}
	.quickAddHolder .field.quickadd .middleColumn{
		margin-top: 10px;
		background: none;
	}
		.quickAddHolder .field.quickadd .middleColumn ul.optionset {
			margin: 0;
			border: 1px solid #ddd;
			background: #efefef;
			padding: 5px;
		}
			.quickAddHolder .field.quickadd .middleColumn ul.optionset li{
				display: inline-block;
				width: 145px;
				padding: 7px 50px 7px 10px;
				margin: 0;
				position:relative;
			}
			.quickAddHolder .field.quickadd .middleColumn ul.optionset li a {
				display:none;
				position:absolute;
				top: 7px;
				right: 10px;
				width:16px;
				height:16px;
				text-indent:-999em;
				overflow:hidden;
				background:transparent url(../../cms/images/delete.gif) top right no-repeat;
			}
				.quickAddHolder .field.quickadd .middleColumn ul.optionset li a.edit {
					background-image: url(../../cms/images/edit.gif);
					right: 30px;
				}
				.quickAddHolder .field.quickadd .middleColumn ul.optionset li a.loading {
					background-image: url(../../cms/images/network-save.gif);
					display:block;
				}
				.quickAddHolder .field.quickadd .middleColumn ul.optionset li .inlineEdit {
					font-size:13px;
					width:115px;
				}
				.quickAddHolder .field.quickadd .middleColumn ul.optionset li .inlineEdit[disabled] {
					background-color:#EFEFEF;
				}
			.quickAddHolder .field.quickadd .middleColumn ul.optionset li:hover a {
				display:block;
			}
			.quickAddHolder .field.quickadd .middleColumn ul.optionset li.odd{
			}
				.quickAddHolder .field.quickadd .middleColumn ul.optionset li input{
					padding-top: 4px;
				}
				.quickAddHolder .field.quickadd .middleColumn ul.optionset li label{
					font-size: 13px;
					line-height: 18px;
				}
	.quickAddHolder .fieldgroup.nolabel .middleColumn{
		background: none;
		margin-top: 10px;
	}
		.quickAddHolder .fieldgroup.nolabel .middleColumn .fieldgroupField input.text{
			font-size: 13px;
			padding: 3px 10px;
			border-right: none;
			margin-left: 10px;
			width: 240px;
		}
		.quickAddHolder .fieldgroup.nolabel .middleColumn .fieldgroupField a{
			font-size: 13px;
			padding: 3px 30px;
			background: #57a446;
			color: #fff;
			text-decoration: none;
			border: 1px solid #22710c;
			font-weight: bold;
		}
			.quickAddHolder .fieldgroup.nolabel .middleColumn .fieldgroupField a:hover{
				background: #77c466;
			}
